    <div class="card-content">
        <div class="card-img">
            <img src="https://media.istockphoto.com/id/1550071750/photo/green-tea-tree-leaves-camellia-sinensis-in-organic-farm-sunlight-fresh-young-tender-bud.jpg?s=612x612&w=0&k=20&c=RC_xD5DY5qPH_hpqeOY1g1pM6bJgGJSssWYjVIvvoLw=" alt="">
            <span>
                <h4>{{destino?.nombre}}</h4>
            </span>
        </div>
        <div class="card-desc">
            <h3>{{destino?.nombre}}</h3>
            <p>{{destino?.descripcion}}</p>
            <a href="#" class="btn-card">Read</a>
        </div>
    </div>